@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;  
}

body {
  background-image: url("https://i.ibb.co/ZzNmZBK/hormigon.jpg");
}

nav {
  background-color: rgb(33 37 41 / 70%) !important;
}

.navbar-brand {
  font-family: 'Lobster', sans-serif;
}

.card {
  border: none;
  box-shadow: 1px 1px 5px #d5d5d5;
}

.card-container {
  background-color: #ffffffba !important ;
}
